.netlify-progress {
    height: 25px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
}

.netlify-progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 13px;
    line-height: 25px;
    color: #fff;
    text-align: center;
    background-color: #2bc37c;
    -webkit-box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.netlify-progress-waiting {
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    color: #000;
    display: block;
}

.netlify-columns {
    display: flex;
    justify-content: space-between;
}

.netlify-column {
    width: 505%;
}